* {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	list-style: none;
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 68px;
	gap: 45px;
	align-self: center;
	width: auto;
	height: 69.79px;
	justify-content: space-between;
}

.hdr-logo {
	/* flex-basis: 20%; */
	text-align: center;
}

.hdr-logo a {
	color: black;
	text-decoration: none;
}

.hdr-logo img {
	width: auto;
}

.hdr-links {
	display: flex;
	justify-content: flex-end;
	padding: 0;
	margin: 0;
}

.hdr-links li {
	list-style: none;
	padding: 0 2rem;
	transition: ease-out 0.5s;
}

.hdr-links li a {
	color: black;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
}

.hdr-links li a:hover {
	color: #753fdf;
}

.hdr-signin {
	/* width: 440px; */

	line-height: 19px;
	text-align: right;
	color: #000000;
}

.hdr-getstarted-button {
	background-color: #753fdf;
	border: none;
	border-radius: 40px;
	color: white;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 40px;
	text-align: center;
	text-decoration: none;
}

.hdr-getstarted-button:hover {
	background-color: #ffffff;
	color: #753fdf;
}

/* - - - - - - - - - - - - - section 1 - - - - - - - - - - - - - */

.section-one {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0 68px;
	width: auto;
	height: 700px;
}

.section-one-title {
	position: relative;
	padding: 200px 0;
	justify-content: center;
	width: 100%;
	max-width: 700px;
}

.section-one h1 {
	margin: 0;
	width: auto;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	color: #000000;
}

.section-one p {
	padding: 10px 0 0;
	margin: 0;
	height: auto;
	align-items: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;

	/* identical to box height */

	text-align: center;
	color: #5a5a5a;
}

/* - - - - - - - - - - - - - section 2 - - - - - - - - - - - - - */

.section-two {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	background: #090528;
}

.section-two-container {
	padding: 200px 68px;
}

.section-two-webdevlife {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	margin: 0;
	gap: 19px;
	color: white;
}

.section-two-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 0 68px;
	gap: 21px;
}

.section-two-socialmedia {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
	gap: 38px;
}

.section-two-socialmedia h6 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: white;
	margin: 0;
}

.section-two-powered-by {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
	gap: 38px;
}

.section-two-powered-by h6 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: white;
	margin: 0;
}

.section-two-powered-by img {
	width: 24px;
	height: 24px;
}

.section-two-webdevlife h2 {
	margin: 0;
}

.section-two-name-date {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 40px;
}

.section-two-webdevlife h3 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: white;
}

.section-two-webdevlife p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;

	color: #ffffff;
}

/* - - - - - - - - - - - - - Footer - - - - - - - - - - - - - */

footer {
	margin: 0;
	padding: 0;
}

.ftr-container {
	border: solid 0.3px #9f9f9f;
}

.ftr-section {
	display: flex;
	padding: 20px 0 20px 68px;
}

.ftr-links-language {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ftr-links-language li a {
	text-decoration: none;
}

.ftr-map-links {
	margin: 0;
	padding: 0 0 0 68px;
	list-style: none;
}

.ftr-map-links li a {
	text-decoration: none;
}

.ftr-copyright {
	margin: 0;
	padding: 20px 0 20px 68px;
}
